/* Reset and basic styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #007BFF;
}

h2 {
    color: #0056b3;
}

h3 {
    color: #dc3545;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    position: relative; /* Ensures the absolute positioning of .message-time is relative to the li */
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#response {
    margin-top: 20px;
    text-align: center;
    color: green;
}

.container h1 {
    color: blue;
}

.container h3 {
    color: red;
}

/* Styling for anchor tags */
a {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #8f1c1c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a:hover {
    color: #0056b3; /* Darker color on hover */
}

#welcome {
    padding: 10px 20px;
    margin-right: auto;
    font-size: 16px;
    background-color: #053d13;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Style for message time */
.message-time {
    position: absolute;
    bottom: 5px; /* Adjust as needed to position the time correctly */
    right: 10px; /* Adjust as needed to position the time correctly */
    font-size: 0.8em;
    color: #888;
}
