{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Jinka Messaging App</h1>
    <br>
    <h2>Welcome to the Jinka messaging app. Here we are providing</h2>
    <br>
    <h3>END-TO-END Encryption</h3>

    {%if no_name%}
    <a href="/">Please enter your name !!</a>
    {%else%}
    <p id="welcome">Welcome    {{welcome}}</p>
    {% endif %}

    <form id="message-form">
        <input type="text" id="message-input" placeholder="Enter your message" required>
        <button type="submit">Send</button>
    </form>
    <div id="response"></div>
    <div id="messages">
        <h2>Messages</h2>
        <ul id="message-list">
            {% for message in messages %}
            <li id={{message._id}}>
                <strong>{{ message.name }}:</strong> 
                {{ message.message }} 
                <span class="message-time">{{ message.created_at }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<script>

    let list_id=null
    const messageInput = document.getElementById('message-input');
    messageInput.focus();
    document.getElementById('message-form').addEventListener('submit', function(event) {
        messageInput.focus();
        event.preventDefault();
        const message = document.getElementById('message-input').value;
        fetch('/send', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: 'message=' + encodeURIComponent(message)
        })
        .then(response => {
            if (response.redirected) {
                window.location.href = response.url;
            } else {
                return response.json();
            }
            messageInput.focus();
        })
        .then(data => {
            if (data) {
                document.getElementById('response').innerText = data.status;
                location.reload();  // Reload to fetch the latest messages
            }
        });
    });

    // Function to make an API call and append messages to the <ul> list
    function fetchAndAppendMessages(listId) {
        // Make a GET request to the API endpoint
        let update_list_id=true;

        fetch(`/messages?id=${listId}`)
            .then(response => response.json())
            .then(messages => {
                if(messages && messages.data){

                    messages.data.forEach(message => {
                        // Create a new <li> element
                            messageInput.focus();
                        if (update_list_id){
                            list_id=message._id;
                            update_list_id=false;
                        }
                        var newLi = document.createElement('li');
                        // newLi.setAttribute('id', message._id);
                        // Format the message content as desired (example shows message name and content)
                        newLi.innerHTML = `<li id="${message._id}}"> <strong>${message.name}:</strong> ${message.message}  <span class="message-time">${message.created_at}</span>  </li>`;
                        // Append the <li> element to the <ul> list
                        var ul = document.getElementById('message-list');
                        ul.prepend(newLi);
                    });
                }
            })
            .catch(error => {
                console.error('Error fetching messages:', error);
            });
    }

    // Function to add a new <li> element to the <ul> list
    function addMessageToList() {
        
        messageInput.focus();
        if(!list_id)
        {
            var message_list = document.getElementById("message-list")

            // Get the first <li> element within the <ul> list
            var firstLi = message_list.querySelector('li');            // Check if the firstLi exists and log its id
            if (firstLi) {
                list_id = firstLi.id;
            }
        }

        fetchAndAppendMessages(list_id);
    }

    // Interval to add a new <li> element every 0.3 seconds
    setInterval(addMessageToList, 1000);

</script>



<div>
    <a href="/report" style="margin-top: 20px; display: block; text-align: center;">Please tell us your report/issues</a>
</div>
{% endblock %} 
