{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Jinka Messaging App</h1>
    <br>
    <h2>Welcome to the Jinka messaging app. Here we are providing</h2>
    <br>
    <h3>END-TO-END Encryption</h3>

    {%if no_name%}
    <a href="/">Please enter your name !!</a>
    {%else%}
    <p id="welcome">Welcome    {{welcome}}</p>
    {% endif %}

    <form id="message-form">
        <input type="text" id="message-input" placeholder="Enter your message" required>
        <button type="submit">Send</button>
    </form>
    <div id="response"></div>
    <div id="messages">
        <h2>Messages</h2>
        <ul>
            {% for message in messages %}
                <li><strong>{{ message.name }}:</strong> {{ message.message }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<script>
    document.getElementById('message-form').addEventListener('submit', function(event) {
        event.preventDefault();
        const message = document.getElementById('message-input').value;
        fetch('/send', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: 'message=' + encodeURIComponent(message)
        })
        .then(response => {
            if (response.redirected) {
                window.location.href = response.url;
            } else {
                return response.json();
            }
        })
        .then(data => {
            if (data) {
                document.getElementById('response').innerText = data.status;
                location.reload();  // Reload to fetch the latest messages
            }
        });
    });
</script>
{% endblock %}
